---
import { Image } from 'astro:assets';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import SkillTag from '../components/SkillTag.astro';

// import profile from '../content/profile.jpg';
// import skillspass from '../content/skillspass.png';
// import retrievium from '../content/retrievium.png';
// import detechnologies from '../content/detechnologies.gif';
// import fovp from '../content/fovp.png';
// import baja from '../content/baja.png';
// import copper from '../content/copper.png';
// import paradigm from '../content/paradigm.png';
// import munstar from '../content/munstar.png';
import solace from '../content/solace.jpg';
import CourseCard from '../components/CourseCard.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
		<title>Ayman Islam</title>
	</head>
	<body class="bg-white">
		<NavBar />
		<div id="experience" class="flex justify-center bg-white">
			<div class="flex flex-col items-center pb-10">
				<div class="text-2xl font-bold">Projects</div>
				<hr class="w-16 h-1 my-4 border-0 bg-gray-500">
				<div class="grid md:grid-cols-2 gap-20 px-20 xl:px-[20%]">
					<ExperienceCard image={solace} title="Solace Power - Hardware, Integration, and Testing" desc="I have experience in designing, populating, testing, and debugging PCBs for wireless power transfer systems. This includes creating LC filters to reduce RF noise using Altium Designer and LTSpice, and designing current sense PCBs for overcurrent protection. I use oscilloscopes, EMI analyzers, VNAs, and impedance analyzers to enhance system efficiency. My expertise ensures robust, efficient, and reliable systems, meeting high performance and safety standards through continuous testing and debugging." date="April 2024 - present">
						<SkillTag skill="JavaScript"/>
						<SkillTag skill="TypeScript"/>
						<SkillTag skill="NodeJS"/>
						<SkillTag skill="REST APIs"/>
						<SkillTag skill="ReactJS"/>
						<SkillTag skill="AngularJS"/>
						<SkillTag skill="PostgreSQL"/>
						<SkillTag skill="Unit-Testing"/>
						<SkillTag skill="Jira"/>
						<SkillTag skill="GitHub"/>
						<SkillTag skill="Agile Development"/>
					</ExperienceCard>
				</div>
			</div>
		</div>
		<Footer />	
	</body>
</html>
